body {
  margin: 0;
  font-family: "Oxygen Mono", monospace;
  background-color: #ffffff;  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 50px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  margin-right: 12px;
  padding-right: 20px;
}

.menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: 200px;
  margin-right: 5px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: white;
}

.banner {
    width: 100%;
    height: 450px;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
  }
  
  .banner-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-family: "Oooh Baby", cursive;
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  

.info-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1200px;
  padding: 20px;
}

.info-text {
  max-width: 300px;
  margin: 20px;
}

.info-text h3 {
  font-family: "Oooh Baby", cursive;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.2;
  text-align: center;
}

.info-text h3 span:first-child {
  color: #16c2c2;
}

.info-text p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.info-section img {
  width: 200px;
  height: auto;
  margin: 20px;
}

.futuro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  width: 1200px;
  height: 200px;
  background: #414b59;
  border-radius: 20px;
  padding: 20px;
}

.futuro h3 {
  color: #16c2c2;
}

.futuro-titulo {
  text-align: center;
  align-items: center;
  width: 5000px;  
}

.futuro-titulo h3 {
  margin-bottom: 10px;
}

.futuro-titulo a {
  display: block;
  color: #16c2c2;
}

.futuro-item {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  border-left: 2px dotted rgba(255, 255, 255, 0.5);
}

.futuro-item img {
  width: 50px; 
  height: 50px;
  object-fit: contain;
}

.futuro-item h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}


.stats {
    padding: 30px 0;
    text-align: center;
    width: 1200px;
}

.stats h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;    
}

.stats-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 200px; 
    flex-wrap: wrap;
}

.stats .stat {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 10px; 
}

.stats .stat h3 {
    font-size: 32px;
    color: #16c2c2;
    margin-bottom: 10px;
}

.container-end {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    color: black;
    width: 1200px;
    height: 300px;
    background: #16c2c2;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}

.end-izq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%; 
}

.end-izq img {
    width: 60px; 
    margin-bottom: 20px;
}

.end-izq h2 {
    margin-bottom: 10px;
    color: #003434;
}


.end-izq a {
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #3e4a5c;
    padding: 10px 20px;
    border-radius: 5px;
}
.container-end img:nth-of-type(2) {
    width: 30%; 
    object-fit: contain;    
}
.end-der {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%; 
}

.end-der p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

.end-der-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.end-der-2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.end-der-2 img {
    width: 50px;
    margin-bottom: 10px;
}

.end-der-2 h2 {
    font-size: 16px;
    text-align: center;
}

.footer {
    background-color: #414b59;
    width: 100%;
    color: rgba(255, 255, 255, 0.60);
    padding: 40px 20px;
    text-align: center;
    margin-top: 30px;
}

.footer-title h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.footer-title p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #16c2c2;
}

.footer-title h2 span:first-child {
    color: #16c2c2;
  }

  .footer-title h2 span:nth-child(2) {
    color: black;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer-left {
    width: 30%;
    text-align: left;
}

.footer-left h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-center {
    width: 30%;
    text-align: center;
}

.footer-center h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-center hr {
    border: 0;
    border-top: 1px solid white;
    margin: 20px 0;
}

.faq h4 {
    margin-top: 10px;
    font-size: 18px;
}


.footer-right {
    width: 30%;
    text-align: left;
}

.footer-right h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-right hr {
    border: 0;
    border-top: 1px solid white;
    margin: 20px 0;
}

.footer-right p {
    font-size: 16px;
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-icon-left, .footer-icon-right {
    width: 50px; 
    max-width: 50px;
    height: auto;
    object-fit: contain;
}

.footer-icon-center {
    flex-grow: 1;
    height: 10px;
    width: 1000px;  
}
